<footer class="footer">
    <div class="container">
        <p><a href="/api/friends">API Friends List</a> | <a target="#" href="https://github.com/danielhdz56/friend-finder">GitHub Repo</a></p>
    </div>
</footer>